@CHARSET "ISO-8859-1";

#dado{
	margin-top:8%;
	float:left;
	width: 45%;
	margin-left: 3%;
	background-color: #F2F2F2;
    border-radius: 25px;
    padding-bottom: 20px;
}
#ranking{
	margin-top:4%;
	float:left;
	width: 45%;
	margin-left: 4%;

}

.colorAzul{
	background-color: #151515;
}

.posDiv{
	margin-top:3%;
	float:right;
	background-color:#F2F2F2;
	    border-radius: 25px;
	margin-right: 10%;
	padding: 15px;
}

.left{
	float: left;
}

.posForm{
	margin-top: 11%;
	width: 40%;
	float: left;
}

div#imagenGetPost {
	margin-top: 11%;
	width: 40%;
	height: 40%;
	float: right;
}
